@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>政策法规</title>
    <link href="~/Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/extensions/base.js"></script>
    <script src="~/Script/jquery.mobile-1.4.5.js"></script>
    <style>
        .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
            background-color: #fff;
            border-color: #ddd;
            color: #333;
            text-shadow: 0 1px 0 #f3f3f3;
        }
    </style>
</head>
<body>
    <div data-role="page">
        <div data-role="content" style="padding:0 0 10px 0;">
            <div>
                <img src="~/Image/苏州市住房公积金管理中心.jpg" style="width:100%;" />
            </div>
            <div style="padding-top:10px;">
                <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" style="margin:0px;">
                    <li><a href="../ProvidentFund/LawsList">法律法规</a></li>
                    <li><a href="../ProvidentFund/RegulationsList">综合政策</a></li>
                </ul>
            </div>
        </div>
        <div style="bottom:0px;">
            <img src="~/Image/公积金官方微信.png" style="width:100%;" />
        </div>
    </div>
</body>
</html>
