@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script>
        alert("未查到公积金贷款信息或您的贷款已还清！");
        window.location.href = "../ProvidentFund/AccountResult";
    </script>
</head>
<body>
</body>
</html>
