@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>内测</title>
    <link href="~/Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/jquery.mobile-1.4.5.js"></script>
    <script src="~/Script/extensions/base.js"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            background-color: #EEEEEE;
        }

            .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
                background-color: #fff;
                border-color: #ddd;
                color: #333;
                text-shadow: 0 1px 0 #f3f3f3;
            }
    </style>
</head>
<body>
    <div data-role="page" style="background-color: #EEEEEE;">
        <div data-role="content" style="padding:0 0 10px 0; ">
            <div>
                <img src="~/Image/苏州市住房公积金管理中心.jpg" style="width:100%;" />
            </div>
            <div style="padding-top:10px;width:100%;">
            </div>
        </div>
    </div>
    <div style="float:left;top:40%;left:50%;right:0px; bottom:0px;  width:200px; height:30px; text-align:center; font-size:18px; position:absolute;margin-left:-100px;">
        <img src="~/Image/offline.png" style="width:120px; height:123px;" /><br />
        正在内测<br />请期待正式上线!
    </div>
</body>
</html>
