@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关于规范提供直系亲属关系证明材料的通知</title>
    <link href="~/Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/extensions/base.js"></script>
    <script src="~/Script/jquery.mobile-1.4.5.js"></script>
</head>
<body>
    <div data-role="page" style="background-color: #fff;">
        <div>
            <img src="~/Image/苏州市住房公积金管理中心.jpg" style="width:100%;" />
        </div>
        <div style="padding:0 10px;">
            <p style="text-align:center">苏房金规〔2015〕8号</p>
            <p>各分中心、各承办银行、市中心各处室：</p>
            <p>根据《苏州市公安局关于取消公安机关50种对外出具的证明通知》（公办发〔2015〕365号）规定，公安机关自2015年9月30日起已不再出具“亲属关系证明”。为保证住房公积金相关业务顺利办理，现就相关事项通知如下：</p>
            <p>一、在办理住房公积金业务时，原规定职工需提供公安机关出具的直系亲属关系证明的，改为由职工提供公安机关出具的曾经同户家庭关系证明。</p>
            <p>二、职工无法提供公安机关出具的曾经同户家庭关系证明的，可提供独生子女证或医学出生证明或公证部门出具的证明等可以证明直系亲属关系的相关材料。</p>
            <p>三、本通知自发布之日起施行。原规定与本通知不符的，以本通知为准；本通知未涉及的，仍执行原规定。</p>
            <p style="text-align:right"> 苏州市住房公积金管理中心</p>
            <p style="text-align:right"> 2015年10月8日</p>
        </div>
    </div>
</body>
</html>
