@{
    ViewBag.Title = "账号查询";
}

    <div data-role="page">
        <div data-role="content" style="padding:0 0 10px 0;">
            <div style="padding-top:10px;">
                <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" style="margin:0px;">
                    <li><a href="../AlipayProvidentFund/SelectBalance">公积金查询</a></li> 
                    <li><a href="../AlipayProvidentFund/SelectLoan">贷款查询</a></li>
                </ul>
            </div>
        </div>
        </div>
        
  