@model CityService.Service.Controllers.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册用户</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/extensions/base.js"></script>
    <meta charset='UTF-8'>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link href="../Content/alipay/alipay.css" type="text/css" rel="stylesheet" />
    <link href="../Content/alipay/amui-demo_files/toast.css" type="text/css" rel="stylesheet" />
    <link href="../Content/alipay/amui-demo_files/dialog.css" type="text/css" rel="stylesheet" />
    <link href="../Content/alipay/amui-demo_files/button-group.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../Content/alipay/amui-demo_files/amui.js"></script>
    <link href="../Content/alipay/button.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div data-role="page">
        <div data-role="content" style="padding:0px;">
            <div>
                <img src="~/Images/苏州市住房公积金管理中心.jpg" style="width:100%;" />
            </div>
            <div class="am-list am-list-5lb" am-mode="flat chip form">
                <div class="am-list-header">注册账户</div>
                <div class="am-list-body">
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label">公积金账户</div>
                        <div class="am-list-control">
                            @Html.TextBoxFor(model => model.PFID)
                        </div>
                    </div>
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label">证件号码</div>
                        <div class="am-list-control" style="text-transform:uppercase;">
                            @Html.TextBoxFor(model => model.IDCard, new{style = "text-transform:Uppercase" })
                        </div>
                    </div>
                    <input type="text" value="@Session["OpenID"]" style="display:none;" />
                    <div class="am-list-item am-input-autoclear" id="VC" style="display:none;">
                        <div class="am-list-label">验证码</div>
                        <div class="am-list-control">
                            <input type="text" value="" />
                        </div>
                        <div class="am-list-button">
                            <button type="button" onclick="ValidaCode()">获取验证码</button>
                        </div>
                    </div>
                    <div class="am-list-item am-input-autoclear" id="VP">
                        <div class="am-list-label">手机号码</div>
                        <div class="am-list-control">
                            @Html.TextBoxFor(model => model.Phone, new { type="tel"})
                        </div>
                        <div class="am-list-button" id="btnVP">
                            <button type="button" id="phone1" onclick="ValidaPhone()"></button>
                        </div>
                    </div>
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label">验证码</div>
                        <div class="am-list-control">
                            <input id="checkcode" type="text">
                        </div>
                    </div>

                    <div style="padding-left:15px;padding-right:15px;margin-top:15px;">
                        <button id="saveButton" type="button" class="am-button" onclick="SaveUserInfo()">提    交</button>
                    </div>
                    <div style="padding-top:25px; text-align:right;font-size:12px;color:red;padding-right:15px;">
                        <p>*首次使用的用户请先注册</p>
                    </div>
                    <script>
                        var isTrue;
                        $(function () {
                            window.setInterval("checkButtonState()", 200);
                            $("#phone1").html("验证");
                        });
                        function checkButtonState() {
                            isTrue = true;
                            if ($("#Phone").val() && $("#PFID").val() && $("#IDCard").val() && isTrue && countdown > 0) {
                                $("#saveButton").attr("am-mode", "middle white");
                                $("#saveButton").attr("disabled", null);
                            }
                            else {
                                $("#saveButton").attr("am-mode", "middle white disabled");
                                $("#saveButton").attr("disabled", "disabled");
                            }
                        }

                        function SaveUserInfo() {
                            if (!checkcode()) {
                                alert("验证码错误，请重新输入！");
                            }
                            else if (checkValid()) {
                                var IdCard = $("#IDCard").val();
                                var url = "../AlipayProvidentFund/AddAccount?pfid=" + $("#PFID").val() + "&idcard=" + $("#IDCard").val() + "&phone=" + $("#Phone").val() + "&checkcode=" + $("#checkcode").val();
                                $.ajax(url, {
                                    type: 'post',
                                    contentType: 'text/json',
                                    success: function (msg) {
                                        alert("注册成功！");
                                        window.location.href = "../AlipayProvidentFund/AccountResult";
                                    },
                                    error: function (xhr) {
                                    },
                                    complete: function () {
                                    }
                                });
                            }
                        }

                        function checkValid() {
                            var result = false;
                            if (!checkPhone($("#Phone").val()))
                                alert("手机号码输入错误，请重新输入！");
                            else if (!checkID($("#IDCard").val()))
                                alert("证件号码不能为空！");
                            else if ($("#PFID").val().trim() == "")
                                alert("公积金号码不能为空，请重新输入！");
                            else
                                result = true;

                            return result;
                        }

                        function checkPhone(phone) {
                            var telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
                            //如果手机号码不能通过验证
                            return telReg;
                        }
                        function checkID(idnumber) {
                            //var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                            //return reg.test(idnumber);
                            if (idnumber == null || idnumber.trim() == "") {
                                return false;
                            } else {
                                return true;
                            }
                        }

                        function ValidaPhone() {
                            if (checkValid()) {
                                ValidaCode();
                                startTime();
                            }
                        }

                        function startTime() {
                            countdown = 60;
                            setTimeout(function () { settime() }, 1000)
                        }

                        function ValidaCode() {
                            //验证
                            var url = "../AlipayProvidentFund/SendCheckCode?custAcNo=" + $("#PFID").val() + "&paperId=" + $("#IDCard").val() + "&mobile=" + $("#Phone").val();
                            $.ajax(url, {
                                type: 'post',
                                contentType: 'text/json',
                                success: function (msg) {
                                    if (msg.Result == true) {
                                        document.cookie = "checkCode=" + msg.CheckCode;
                                    }
                                    else {
                                        alert(msg.Message);
                                        return false;
                                    }
                                },
                                error: function (xhr) {
                                },
                                complete: function () {
                                }
                            });
                            //成功
                            $("#VC").css("display", "none");
                            $("#VP").css("display", "flex");
                        }

                        var countdown = 10;
                        var timeNumber = -1;
                        function settime() {
                            countdown--;
                            checkButtonState();
                            if (countdown == 0) {
                                $("#phone1").attr("disabled", false);
                                $("#phone1").css("color", "#0af")
                                $("#phone1").html("重新发送");
                                clearTimeout(timeNumber);
                            }
                            else {
                                $("#phone1").attr("disabled", true);
                                $("#phone1").css("color", "black")
                                $("#phone1").html(countdown + "秒后重发");
                                setTimeout(function () { settime() }, 1000);
                            }
                        }

                        function checkcode() {
                            var checkcodeget = getCookie("checkCode");
                            var checkcode = $("#checkcode").val();
                            return checkcodeget == checkcode;
                        }
                        function getCookie(key) {
                            var keyValues = document.cookie.split(";");
                            for (var index = 0; index < keyValues.length; index++) {
                                var keyValue = keyValues[index].split("=");
                                if (keyValue[0].trim() == key)
                                    return keyValue[1];
                            }
                            return null;
                        }
                    </script>
                </div>
            </div>
            <div id="fuwu" style="display: block;font-family:STHeitiSC;font-size: 12px; margin-bottom: 15px;margin-top:15px; margin-left: 0px; width: 100%; text-align: center;bottom: 0px;z-index:-1;">
                <div class="am-agreement am-ft-gray am-ft-sm">
                    <p>
                        本服务由苏州市住房公积金管理中心<br />苏州云联智慧信息技术应用有限公司提供支持
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
