@{
    ViewBag.Title = "首页";
}
<div class="am-list" am-mode="flat chip">
    <div class="am-list-body">
        <a class="am-list-item" href="AddAccount">
            <div class="am-list-content">注册账户</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a class="am-list-item" href="AccountList">
            <div class="am-list-content">账户查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a class='am-list-item' href="SelectLoan">
            <div class="am-list-content">贷款查询</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a class='am-list-item' href="LoansCalculate">
            <div class="am-list-content">贷款试算</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
    </div>
</div>







