@{
    ViewBag.Title = "首页";
}
<div class="am-list" am-mode="flat chip">
    <div class="am-list-body">
        <a href="SelectLoan" class="am-list-item">
            <div class="am-list-content">帐户管理</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="AccountList" class="am-list-item">
            <div class="am-list-content">账户信息</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
        <a href="WorkGuide" class="am-list-item">
            <div class="am-list-content">办事指南</div>
            <div class="am-list-arrow"><span class="am-icon" am-mode="arrow-horizontal"></span></div>
        </a>
    </div>
</div>







