@{
    ViewBag.Title = "还贷委托提取";
}
        <div style="padding:0 10px;padding-bottom:10px;">
            <div style="width:70px;float:right;z-index:2;font-size:13px;padding:0 10px;text-align:center;font-weight:bolder;word-break:keep-all;">
                <img src="~/Images/地图.png" style="width:30px;height:30px;" onclick="Show()" />
                <div><strong>办理网点</strong></div>
            </div>
            <p style="text-align:center;"><b id="title"></b></p>
            <div style="margin-top:15px;"><b>办理流程</b></div>
            <div style="margin-top:15px;" p>
                （已与中心系统联网的银行）——职工带齐材料至贷款银行承办网点进行业务申请→工作人员审核材料→进系统进行业务处理
                （未与中心系统联网的银行）——职工带齐材料至贷款银行承办网点进行业务申请→工作人员审核材料，与职工签订纸质《偿还住房贷款委托提取住房公积金协议》→职工凭上述材料到公积金大厅进行系统申请→中心工作人员审核材料进系统进行业务处理
            </div>
        </div>
        <div style="margin-top:15px;">
    <p><b>办理要件</b></p>
         <div style="margin-top:15px;">
    <img src="~/Images/还贷委托提取.png" id="Images1" style="width:100%" onclick="srcipt:ShowImages();" />
             </div>
</div>
        <script>
            $(function () {
                var title = decodeURI(getQueryStringByName("title"));
                $("#title").html(title);
            });
            function ShowImages() {
                var url = $("#Images1").attr("src");
                window.location.href = "../AlipayProvidentFund/ShowImages?url=" + url;
            }
            function Show() {
                window.location.href = "../AlipayProvidentFund/SelectCardPoint";
            }
        </script>
       
    </div>
