@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>办事指南</title>
    <link href="~/Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/extensions/base.js"></script>
    <script src="~/Script/jquery.mobile-1.4.5.js"></script>
    <style>
        .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
            background-color: #fff;
            border-color: #ddd;
            color: #333;
            text-shadow: 0 1px 0 #f3f3f3;
        }
    </style>
</head>
<body>
    <div data-role="page">
        <div data-role="content" style="padding:0 0 10px 0;">
            <div>
                <img src="~/Images/苏州市住房公积金管理中心.jpg" style="width:100%;" />
            </div>
            <div style="padding-top:10px;">
                <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" style="margin:0px;">
                    <li><a href="../AlipayProvidentFund/DrawResult1">购买新房、二手房</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult2">购买公有住房产权、使用权、分期付款</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult3">拆迁安置、翻建自住住房</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult4">离退休、下岗失业、死亡（或被宣告死亡）提取</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult5">出大市范围外、出境定居</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult6">还贷提取</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult7">还贷委托提取</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult8">租房提取</a></li>
                    <li><a href="../AlipayProvidentFund/DrawResult9">完全和部分丧失劳动能力、低保特困（边缘）、患重病</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
